/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for Eagle
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/seqqc -profile eagle,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'eagle'
    config_profile_description = 'eagle'

    // Define max resource allocations based on available compute resources on Eagle
    max_cpus   = 8
    max_memory = '64.GB'
    max_time   = '6.h'

    // Path to confindr database
    confindr_db               = "/mnt/cidgoh-object-storage/database/confindr/confindr_db" //database for confindr. The default database are only for detecting contamination in Escherichia, Listeria, and Salmonella. If you want to run ConFindr on any other genera, you need to build the database following the tutorial at https://olc-bioinformatics.github.io/ConFindr/install/.

    //Path to QC adapter database
    adapter_fasta             = "/mnt/cidgoh-object-storage/database/adaptors/test.fa"

    // Path to nanopore summary file to be used by PycoQC
    nanopore_summary_file      = "/mnt/cidgoh-object-storage/hackathon/seqqc/isolate_wgs/nanopore/run_summary/sequencing_summary_FAT24492_18678559.txt"

    // Path to Kraken2 database used for querying reads during taxonomic classification
    kraken2_db                 = "/mnt/cidgoh-object-storage/database/minikraken2/minikraken2_v2_8GB_201904_UPDATE"

    // Path to centrifuge database
    centrifuge_db              = "/mnt/cidgoh-object-storage/database/centrifuge"

    // Path to (human) reference genome used for dehosting
    host_genome                = "/mnt/cidgoh-object-storage/database/reference_genomes/human/GRCh38.p14/GCF_000001405.40/GCF_000001405.40_GRCh38.p14_genomic.fna"

    // Path to BUSCO lineage database
    busco_lineages_path        = "/mnt/cidgoh-object-storage/database/busco"

    // Path to AMR databases
    resfinder_db                = "/scratch/group_share/tmp/database/resfinder_db"
    pointfinder_db              = "/scratch/group_share/tmp/database/pointfinder_db"
    disinfinder_db              = "/scratch/group_share/tmp/database/disinfinder_db"
    card_db                = "/scratch/group_share/databases/card/v3.3.0/"

    // Path to bakta database
    bakta_db                   = "/scratch/group_share/databases/bakta/v6.0/db-light"

    // Path to bacterial reference genome for variant skip_variant_detection
    reference_genome          = "/mnt/cidgoh-object-storage/hackathon/seqqc/genome_asm/GCA_010673125.1/GCA_010673125.1.fa"

}

process {
    clusterOptions = { "--account=def-sponsor00"  }
    executor = 'slurm'
    containerOptions = '--cleanenv --no-home'

    withLabel: 'DRAGONFLYE' {
        cpus = 8
        memory = 64.GB
    }
    withLabel: 'BAKTA_BAKTA' {
        cpus = 8
        memory = 64.GB
    }
    withLabel: 'CHECKM_LINEAGEWF' {
        cpus = 8
        memory = 72.GB
    }
}

executor {
    queueSize = 12
}
