/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: SAMPLESHEET_CHECK {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: CAT_NANOPORE_FASTQ {
        publishDir = [
            path: { "${params.outdir}/cat_nanopore_fastq/${meta.id}" },
            mode: params.publish_dir_mode
        ]
    }

    withName: PORECHOP_ABI {
        publishDir = [
            path: { "${params.outdir}/porechop_abi/${meta.id}" },
            mode: params.publish_dir_mode
        ]
    }

    withName: NANOCOMP {
        publishDir = [
            path: { "${params.outdir}/nanocomp" },
            mode: params.publish_dir_mode,
            pattern: '*'
        ]
    }

    withName: PYCOQC {
        publishDir = [
            path: { "${params.outdir}/pycoqc" },
            mode: params.publish_dir_mode,
            pattern: '*'
        ]
    }

    withName: FASTQC {
        ext.args = '--quiet'
    }

    withName: SAMTOOLS_VIEW {
        ext.args = '-f4 -b'
        ext.prefix = { "${meta.id}.dehosted" }
    }

    withName: MINIMAP2_ILLUMINA {
        ext.args = '-ax sr'
    }

    withName: MINIMAP2_NANOPORE {
        ext.args = '-ax map-ont'
    }

    withName: RAW_FASTQC {
        ext.args = '--quiet'
        publishDir = [
            path: { "${params.outdir}/raw_fastqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: TRIM_FASTQC {
        ext.args = '--quiet'
        publishDir = [
            path: { "${params.outdir}/trim_fastqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: RAW_MULTIQC {
        publishDir = [
            path: { "${params.outdir}/raw_multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: TRIM_MULTIQC {
        publishDir = [
            path: { "${params.outdir}/trim_multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: TRIMMOMATIC {
         ext.args2 = 'ILLUMINACLIP:adapters.fa:2:30:10 LEADING:3 TRAILING:3 SLIDINGWINDOW:4:15 MINLEN:36'
    }

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }

    withName: DRAGONFLYE {
        publishDir = [
            path: { "${params.outdir}/assembly/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: '*.{gfa,log,fasta,fa,txt}'
        ]
        ext.args = "--minreadlen ${params.min_input_read_len} \
                    --gsize ${params.assembly_genomesize} \
                    --minquality ${params.min_input_quality} \
                    --minlen ${params.min_contig_len} \
                    --mincov ${params.min_contig_coverage} \
                    --racon ${params.racon_rounds} \
                    --medaka ${params.medaka_rounds} \
                    --model ${params.medaka_model}"
        errorStrategy = 'ignore'                    
    }

    withName: SHOVILL {
        publishDir = [
            path: { "${params.outdir}/assembly/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: '*.{gfa,log,fasta,yml,corrections,LastGraph}'
        ]
        ext.args = "--assembler ${params.sr_assembler} \
                    --gsize ${params.assembly_genomesize} \
                    --minlen ${params.min_contig_len} \
                    --mincov ${params.min_contig_coverage}"
        errorStrategy = 'ignore'           
    }

    withName: RENAME_CTG {
        publishDir = [
            path: { "${params.outdir}/assembly/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: '*.fa'
        ]
    }

    if ( params.combine_quast ) {
        withName: QUAST {
            publishDir = [
                path: { "${params.outdir}" },
                mode: params.publish_dir_mode
            ]
            errorStrategy = 'ignore'
        }
    } else {
        withName: QUAST {
            publishDir = [
                path: { "${params.outdir}/quast/${consensus.simpleName}" },
                mode: params.publish_dir_mode
            ]
            errorStrategy = 'ignore'
        }
    }

    withName: BUSCO {
        publishDir = [
            path: { "${params.outdir}/busco" },
            mode: params.publish_dir_mode,
            pattern: '*.txt'
        ]
        ext.args = '--mode genome --tar'
        errorStrategy = 'ignore'
    }

    withName: RMLST {
        publishDir = [
            path: { "${params.outdir}/RMLST" },
            mode: params.publish_dir_mode,
            pattern: '*'
        ]
        errorStrategy = 'ignore'
    }

    withName: RMLSTPARSE {
        publishDir = [
            [
            path: { "${params.outdir}/RMLSTparsed/summary" },
            mode: params.publish_dir_mode,
            pattern: '*_sum.csv'
            ],
            [
            path: { "${params.outdir}/RMLSTparsed/allele" },
            mode: params.publish_dir_mode,
            pattern: '*_allele.csv'
            ]
        ]
    }

    withName: PANAROO_RUN {
        ext.args = "--clean-mode ${params.clean_mode} \
                    --remove-invalid-genes"
    }

}
