params {
    // Base directory for test data
    test_data_base = "https://raw.githubusercontent.com/cidgoh/bacpaq/refs/heads/github_actions_jl/assets/test_data/"

    test_data {
        genome   = "${params.test_data_base}/genome.csv"
        illumina = "${params.test_data_base}/illumina.csv"
        nanopore = "${params.test_data_base}/nanopore.csv"
        empty    = "${params.test_data_base}/empty.csv"
    }
}