/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests the full BACPAQ workflow
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run cidgoh/bacpaq -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/
// Load test data paths
includeConfig 'test_data.config'

params {
    config_profile_name        = 'Empty Test profile'
    config_profile_description = 'Minimal test dataset to validate BACPAQ with an empty input'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Parameter settings
    amrfinderplus_db = 'test'
    kraken2_db = 'kraken2_db'
    checkm_db = 'checkm_db'
    confindr_db = 'confindr_db'
    busco_lineages_path = 'busco_db'
    skip_kreport2krona = true

    // Test data
    input                      = params.test_data['empty']
}
